html,body{
    width: 100%;
    height: 100%;
}
.g-mn{
    width: 100%;
    height: 100%;
    background-image: url("./../../images/index/bg-01.png");
    /*background-color: #1b6d85;*/
    background-size: 100% 100%;
}

.m-hd{
    display: flex;
    padding-left: .45rem;
    width: 100%;
    height: 14%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.m-hd .u-img{
    display: block;
    width: auto;
    height: .78rem;
}

.m-ban{
    width: 100%;
    height: 80%;
}
.m-ban .u-li{
    position: relative;
    width: 100%;
    height: 25%;
}
.m-ban .u-a{
    display: block;
    width: 100%;
    height: 100%;
}
.m-ban .u-img{
    display: block;
    float: right;
    height: 100%;
}
.m-ban .u-tt{
    position: absolute;
    top: 50%;
    left: .58rem;
    z-index: 2;
    color: #fff;
    transform: translateY(-50%);
}
.m-ban .u-tt-a{
    display: block;
    height: .45rem;
    font-size: .35rem;
    line-height: .45rem;
}
.m-ban .u-tips{
    display: block;
    height: .22rem;
    font-size: .14rem;
    line-height: .22rem;
}








