<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if(clientWidth>=640){
                            docEl.style.fontSize = '100px';
                        }else{
                            docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                        }
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/js/plug-in/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/js/plug-in/my-popup/css/my-popup.css" />
    <link rel="stylesheet" href="/css/public/public.css"/>
    <link rel="stylesheet" href="/css/public/header.css"/>
</head>
<body class="g-body" style="font-size: .23rem">

<div class="u-loading j-loading">
    <div class="u-bounce"></div>
    <div class="u-bounce"></div>
    <div class="u-bounce"></div>
</div>

<script src="/js/plug-in/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/plug-in/hammer/hammer.min.js"></script>
<script src="/js/plug-in/hammer/jquery.hammer.js"></script>
<!--<script src="/js/plug-in/iscroll/js/iscroll.js"></script>-->