<%- include('header.html') %>
<link rel="stylesheet" href="/css/index/index.css" />

<div class="g-mn">
    <div class="m-hd">
        <img class="u-img" src="/images/index/title-01.png">
    </div>
    <ul class="m-ban">
        <li class="u-li">
            <a class="u-a" href="/classify">
                <img class="u-img" src="/images/index/ban-01.png">
            </a>
            <div class="u-tt">
                <a class="u-tt-a" href="/classify">自然风景资源</a>
                <a class="u-tips" href="/classify">NATURAL SCENERY RESOURCES</a>
            </div>
        </li>
        <li class="u-li">
            <a class="u-a" href="/classify">
                <img class="u-img" src="/images/index/ban-02.png">
            </a>
            <div class="u-tt">
                <a class="u-tt-a" href="/classify">艺术规划优势</a>
                <a class="u-tips" href="/classify">ADVANTAGES OF ART PLANNING</a>
            </div>
        </li>
        <li class="u-li">
            <a class="u-a" href="/classify">
                <img class="u-img" src="/images/index/ban-03.png">
            </a>
            <div class="u-tt">
                <a class="u-tt-a" href="/classify">商业模式创新</a>
                <a class="u-tips" href="/classify">BUSINESS MODEL INNOVATION</a>
            </div>
        </li>
        <li class="u-li">
            <a class="u-a" href="/classify">
                <img class="u-img" src="/images/index/ban-04.png">
            </a>
            <div class="u-tt">
                <a class="u-tt-a" href="/classify">项目总体规划</a>
                <a class="u-tips" href="/classify">PROJECT MASTER PLAN</a>
            </div>
        </li>
    </ul>
</div>

<!--<script src="/js/index/index.js"></script>-->
<%- include('footer.html') %>