<nav class="u-nav">
    <a class="u-a f-a-active" href="/">
        <img class="u-img" src="/images/index/nav/nav-btn-home-o.png" />
        <span class="u-text">首页</span>
    </a>
    <a class="u-a" href="/purchase">
        <img class="u-img" src="/images/index/nav/nav-btn-shoppingcar.png" />
        <span class="u-text">进货单</span>
    </a>
    <a class="u-a" href="/order">
        <img class="u-img" src="/images/index/nav/nav-btn-order.png" />
        <span class="u-text">订单</span>
    </a>
    <a class="u-a" href="/set/my">
        <img class="u-img" src="/images/index/nav/nav-btn-mine.png" />
        <span class="u-text">我的</span>
    </a>
</nav>